<div class="card-body">
    <div class="col-xxl-12 col-xl-12 col-md-12">

        <h5 class="text-center fw-bold">
            รายละเอียด ห้องประชุม 1
        </h5>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="ecommerce-gallery" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
                    <div class="row py-3 shadow-5">
                        <div class="col-12 mb-1">
                            <div class="lightbox">
                                <img src="~/images/room.jpg"
                                     alt="Gallery image 1"
                                     class="ecommerce-gallery-main-img active w-100" />
                            </div>
                        </div>
                        <div class="col-3 mt-1">
                            <img src="~/images/room.jpg"
                                 data-mdb-img="~/images/room.jpg"
                                 alt="Gallery image 1"
                                 class="active w-100" />
                        </div>
                        <div class="col-3 mt-1">
                            <img src="~/images/room.jpg"
                                 data-mdb-img="~/images/room.jpg"
                                 alt="Gallery image 2"
                                 class="w-100" />
                        </div>
                        <div class="col-3 mt-1">
                            <img src="~/images/room.jpg"
                                 data-mdb-img="~/images/room.jpg"
                                 alt="Gallery image 3"
                                 class="w-100" />
                        </div>
                        <div class="col-3 mt-1">
                            <img src="~/images/room.jpg"
                                 data-mdb-img="~/images/room.jpg"
                                 alt="Gallery image 4"
                                 class="w-100" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="mt-4">

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>ห้องประชุม : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">ห้องประชุม 1</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>สถานที่ตั้ง : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">กรมเจรจาการค้าระหว่างประเทศ</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>ชั้น : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">3</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>เลขที่ห้อง : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">40301</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>จำนวนคนที่รับรองได้ : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">15 คน</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>อุปกรณ์ที่ติดตั้งในห้องประชุม : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">ไมโครโฟน : มี<br />เครื่องฉายภาพ : มี</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>หน่วยงานรับผิดชอบ : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">ส่วนงานพัสดุ</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>ผู้รับผิดชอบห้องประชุม : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">นายผู้รับผิดชอบ ห้องประชุม</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>เบอร์โทรศัพท์ผู้รับผิดชอบห้องประชุม : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">080-0000000</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>รายละเอียดเพิ่มเติม : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">-</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 form-control-label">
                            <label>หมายเหตุ : </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <label class="form-control-label">-</label>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <hr />
        <div class="text-center">
            <a class="btn btn-success me-3" href="@Url.Action("Index","Booking")">จอง</a>
            <button type="button" class="btn btn-warning me-3" data-bs-toggle="modal" data-bs-target="#modalMeetingChange">เปลี่ยนห้องประชุม</button>
            <button type="button" class="btn btn-secondary me-3">เอกสารแนบ</button>
            <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="detail">ปิด</button>
        </div>
    </div>
</div>

@*<script src="~/js/pages/dashboard/calendar-custom.js"></script>
*@

<script>
    $(function () {
        //alert();
        $('button[data-bs-dismiss="detail"]').click(function () {
            $('#divCalendar').show();
            $('#divDetail').hide();
        });
    });
</script>