@section Title{
    <span class="fs-1 fw-semibold">วิธีขอ Token สำหรับ Line Notify ส่งข้อความเข้าไลน์ส่วนตัว</span>

}
@section Breadcrumb{
    <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">หน้าแรก</a></li>
    <li class="breadcrumb-item pe-3 text-muted">วิธีขอ Token สำหรับ Line Notify ส่งข้อความเข้าไลน์ส่วนตัว</li>
}


<div class="card">
    <div class="card-body">

        <div class="row mb-5 text-center">
            <h1 class="card-title mb-5">วิธีขอ Token สำหรับ Line Notify ส่งข้อความเข้าไลน์ส่วนตัว</h1>
        </div>

        <div class="row mb-2 ">

            <p class="fs-3">ก่อนอื่นเราต้องแอด Line Notify มาเป็นเพื่อนเราก่อน โดยค้นหาคำว่า Line Notify แล้วแอดเป็นเพื่อน ดังภาพ</p>
            <div class="mb-5 text-center">
                <img src="~/images/line/add-linenoti.png" alt="user" class="img-fluid rounded-start" alt="...">
            </div>

            <p class="fs-3">1. หลังจากนั้นเราจะได้ LINE Notify มาเป็นเพื่อน และได้รับข้อความแบบตัวอย่าง คลิกเข้าไปที่เว็บ https://notify-bot.line.me/th/ ตามข้อความในภาพ</p>
            <div class="mb-5 text-center">
                <img src="~/images/line/add-friend2.png" alt="user" class="img-fluid rounded-start" alt="...">
            </div>

            <p class="fs-3">2. สังเกตที่มุมขวาบน และคลิกปุ่ม "เข้าสู่ระบบ" (Log in)</p>
            <div class="mb-5 text-center">
                <img src="~/images/line/login-300x134.png" alt="user" class="img-fluid rounded-start" alt="...">
            </div>

            <p class="fs-3">3. กรอก "อีเมล์"(E-mail) และ "รหัสผ่าน"(Password) ไลน์ของเรา</p>
            <p class="fs-3">4. คลิกปุ่ม "Login" ดังรูป</p>
            <div class="mb-5 text-center">
                <img src="~/images/line/login2-300x188.png" alt="user" class="img-fluid rounded-start" alt="...">
            </div>

            <p class="fs-3">5. หลังจาก Login เข้าสุ่ระบบแล้ว สังเกตมุมบนขวามือ คลิกที่ชื่อไลน์ของเรา แล้วคลิกที่เมนู "หน้าของฉัน"(My page) ดังรูป</p>
            <div class="mb-5 text-center">
                <img src="~/images/line/click-mypage_.png" alt="user" class="img-fluid rounded-start" alt="...">
            </div>

            <p class="fs-3">6. ภายใต้หัวข้อ Generate access token (For developers) ให้คลิกที่ปุ่ม "Generate token" ดังรูป</p>
            <div class="mb-5 text-center">
                <img src="~/images/line/token_generate.png" alt="user" class="img-fluid rounded-start" alt="...">
            </div>

            <p class="fs-3">7. ในช่องว่างช่องแรก ให้เรากรอกชื่อการแจ้งเตือน</p>
            <p class="fs-3">8. หลังจากนั้น ให้คลิกที่ชื่อไลน์ของเรา (สังเกตได้จากรูปไอคอนในไลน์ที่เราตั้งค่าไว้) หรือข้อความ "1-on-1 chat whit LINE Notify" ดังรูป</p>
            <div class="mb-5 text-center">
                <img src="~/images/line/click-line2.png" alt="user" class="img-fluid rounded-start" alt="...">
            </div>

            <p class="fs-3">9. คลิกที่ปุ่ม "Generate token" หรือ "ปุ่ม ออก Token"</p>
            <p class="fs-3">10. จากนั้น จะปรากฎหน้าต่างรหัส token ดังรูป</p>
            <p class="fs-3">11. คลิกปุ่ม Copy(คัดลอก) ดังรูป</p>
            <div class="mb-5 text-center">
                <img src="~/images/line/coppy-token2.png" alt="user" class="img-fluid rounded-start" alt="...">
            </div>

            <p class="fs-3">12. นำรหัส Token ที่ได้ทำการคัดลอกไว้ในช่อง Token ไปวางในช่อง กดปุ่มยืนยัน"</p>

        </div>
       

    </div>
</div>