@section Title {
    <span class="fs-1 fw-semibold">ข้อสั่งการนายกรัฐมนตรีของสำนักเลขาธิการนายกรัฐมนตรี</span>
}
@section Breadcrumb {
    <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">หน้าแรก</a></li>
    <li class="breadcrumb-item pe-3 text-muted">ข้อสั่งการนายกรัฐมนตรีของสำนักเลขาธิการนายกรัฐมนตรี</li>
}

<div class="card">
    <div class="card-body">
        <div class="row mb-3">

            <div class="col-md-4 mb-3">
                <label class="col-form-label">เลขที่อ้างอิง</label>
                <input class="form-control form-control-sm" readonly value="" />
            </div>
            <div class="col-md-4 mb-3">
                <label class="col-form-label required">ปีงบประมาณ</label>
                <input class="form-control form-control-sm"  value="" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label required">หน่วยงาน</label>
                <select class="form-select form-select-sm">
                    <option value=""></option>
                </select>
            </div>

            <div class="col-md-12 mb-3">
                <label class="col-form-label required">ข้อสั่งการของนายกรัฐมนตรี</label>
                <textarea class="form-control form-control-sm" rows="2"> </textarea>
            </div>

            <div class="col-md-12 mb-3">
                <label class="col-form-label required">ผลการดำเนินงาน</label>
                <textarea class="form-control form-control-sm" rows="2"> </textarea>
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label required">กลุ่มที่ได้รับประโยชน์</label>
                <select class="form-select form-select-sm">
                    <option value=""></option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label">จำนวน</label>
                <input class="form-control form-control-sm" value="" />
            </div>

            <div class="col-md-4 mb-3">
            </div>

            <div class="col-md-12 mb-3">
                <label class="col-form-label required">ปัญหาและอุปสรรค</label>
                <select class="form-select form-select-sm">
                    <option value=""></option>
                </select>
            </div>


            <div class="col-md-12 mb-3">
                <label class="col-form-label required">แนวทางแก้ไข/ข้อเสนอแนะ</label>
                <textarea class="form-control form-control-sm" rows="2"> </textarea>
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label required">ผลการดำเนินงานร้อยละ</label>
                <input class="form-control form-control-sm" value="" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label required">ชื่อผู้ติดต่อ</label>
                <input class="form-control form-control-sm" value="" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label required">เบอร์โทรศัพท์</label>
                <input class="form-control form-control-sm" value="" />
            </div>


        </div>

        <div class="mt-10 row">
            <div class="col-12">
                <button class="btn btn-primary btn-sm"><i class="fa fa-save"></i> บันทึก</button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> ลบ</button>
                <a href="@Url.Action("ProjectGovernmentList","ProjectTracking")" class="btn btn-secondary btn-sm"><i class="fas fa-redo"></i> กลับหน้าหลัก</a>
                <button class="btn btn-info btn-sm"><i class="fa fa-print"></i> พิมพ์</button>
            </div>
        
        </div>
    </div>
</div>

