@section Title {
    <span class="fs-1 fw-semibold">ติดตามสถานะการดำเนินงานโครงการ</span>

}
@section Breadcrumb {
    <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">หน้าแรก</a></li>
    <li class="breadcrumb-item pe-3 text-muted">ติดตามสถานะการดำเนินงานโครงการ</li>
}

<div class="card">

    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
                <h2>ค้นหา&nbsp;&nbsp;</h2>
                <input id="btnFilter" onclick="showHideFilter()" type="button" style="border:unset; font-size:x-small;" value="แสดง" /><button style="border:unset; font-size:x-small;" onclick=" showHideFilter()"> <i class="fas fa-angle-down"></i></button>
            </div>
        </div>
    </div>

    <div class="card-body" id="divFilter" style="display: none;">
        <div class="row mb-3">
            <div class="row col-md-6 mb-3">
                <div class="col-3 text-end">
                    <label class="col-form-label">ปีงบประมาณ</label>
                </div>
                <div class="col-9">
                    <input class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row col-md-6 mb-3">
                <div class="col-3 text-end">
                    <label class="col-form-label">ชื่อโครงการ</label>
                </div>
                <div class="col-9">
                    <input class="form-control form-control-sm" />
                </div>
            </div>
            <div class="row col-md-6 mb-3">
                <div class="col-3 text-end">
                    <label class="col-form-label">หน่วยงาน</label>
                </div>
                <div class="col-9">
                    <select class="form-select form-select-sm">
                        <option value="">ทั้งหมด</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> ค้นหา</button>
            <button id="btnResetSearch" type="reset" class="btn btn-secondary btn-sm"><i class="fa fa-refresh"></i> ล้างเงื่อนไข</button>
        </div>
    </div>
</div>

<div class="card mt-10">
    <div class="card-body">
        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
            <table id="tblMain" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7 ">
                <thead class="table-primary">
                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                        <th class="text-center" width="20"></th>
                        <th class="text-center" style="width:5%">#</th>
                        <th class="text-center">ปีงบประมาณ</th>
                        <th class="text-center">หน่วยงาน</th>
                        <th class="text-center">สถานะ</th>
                        <th class="text-center">ผลการเบิกจ่าย</th>
                        <th class="text-center">ผลการดำเนินการ</th>
                        <th class="text-center">จำนวนโครงการตามขั้นตอนการจัดซื้อจัดจ้าง</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <a href="@Url.Action("ProjectTrackingStatusCentralDetail","ProjectTracking")" class="btn btn-icon btn-sm btn-light-info text-gray-800 text-hover-white fw-bold mb-0"
                               data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="รายละเอียด">
                                <i class="fa fa-search fs-4"></i>
                            </a>
                        </td>
                        <td class="text-center">1</td>
                        <td class="text-center">2567</td>
                        <td class="text-center">หน่วยงาน 1</td>
                        <td class="text-center">กำลังดำเนินการ</td>
                        <td>
                            <small>ผลการเบิกจ่าย</small>
                            <div class="progress" style="height: 40px;" >
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </td>
                        <td>
                            <small>ผลดำเนินการ</small>
                            <div class="progress" style="height: 40px;" >
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </td>
                        <td>
                            <small>จัดทำแผนจัดซื้อจัดจ้าง</small>
                            <div class="progress" style="height: 40px;" >
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <small>ผลการเบิกจ่าย</small>
                            <div class="progress" style="height: 40px;" >
                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </td>
                        <td>
                            <small>ผลดำเนินการ</small>
                            <div class="progress" style="height: 40px;" >
                                <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </td>
                        <td>
                            <small>จัดทำ ร่าง TOR</small>
                            <div class="progress" style="height: 40px;" >
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <small>จัดทำรายงานขอซื้อขอจ้าง</small>
                            <div class="progress" style="height: 40px;" >
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <small>หัวหน้าหน่วยงานให้ความเห็นชอบรายงานขอซื้อขอจ้าง</small>
                            <div class="progress" style="height: 40px;" >
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#tblMain').DataTable({
            language: {
                url: `${baseURL}/js/th.json`,
            },
            "paging": true,
            "searching": false,
            "lengthChange": true,
            "lengthMenu": [25, 50, 100],
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate,
                    type: 'none',
                    target: ''
                }
            },
            "pageLength": 25,
            deferLoading: 10,
            dom: '<"float-left"f>rt<"row"<"col-sm-4"i><"col-sm-4 text-center"l><"col-sm-4"p>>'
        });


        function showHideFilter() {
            var x = document.getElementById("divFilter");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }

            var elem = document.getElementById("btnFilter");
            if (elem.value == "ซ่อน") elem.value = "แสดง";
            else elem.value = "ซ่อน";
        }
    </script>
}

