@section Title {
    <span class="fs-1 fw-semibold">กันเหลื่อมปี</span>

}
@section Breadcrumb {
    <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">หน้าแรก</a></li>
    <li class="breadcrumb-item pe-3 text-muted">กันเหลื่อมปี</li>
}

<div class="card">
    <div class="card-body">
        <div class="row mb-3">

            <div class="col-md-4 mb-3">
                <label class="col-form-label">ปีงบประมาณ</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </div>

        <div class="col-md-12 mb-3 mt-10">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                        เงินกันเหลื่อม
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                        ประวัติการเบิกจ่าย
                    </button>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="row mt-5">
                        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
                            <table id="table1" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7 ">
                                <thead class="table-primary">
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center" width="100"></th>
                                        <th class="text-center" style="width:5%">ลำดับ</th>
                                        <th class="text-center">รายการ</th>
                                        <th class="text-center">เลขที่สัญญา/ใบสั่งซื้อ/ใบสั่งจ้าง</th>
                                        <th class="text-center">การสำรองเงิน</th>
                                        <th class="text-center">กันไว้เบิก</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-icon btn-sm btn-light-warning text-gray-800 text-hover-white fw-bold mb-0"
                                                    data-bs-toggle="modal" data-bs-target="#mdltab1"
                                                    data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="เพิ่ม">
                                                <i class="fa fa-plus fs-4"></i>
                                            </button>
                                        </td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">ค่าเช่ารถยนต์ เดือนกันยายน 2566 บริษัท ทรู ลิสซิ่ง จำกัด</td>
                                        <td class="text-center">ส.001/2566</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">14970.40</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="mdltab1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">
                                        <label>เบิกจ่าย</label>
                                    </h3>
                                    <div class="btn btn-icon btn-sm btn-active-light-success ms-2" data-bs-dismiss="modal" aria-label="Close">
                                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="row mb-3">
                                        <div class="col-md-12 mb-3">
                                            <label class="col-form-label">รายการ</label>
                                            <input class="form-control form-control-sm" readonly />
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label class="col-form-label required">จำนวนเงิน</label>
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm" >
                                                <span class="input-group-text">บาท</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> บันทึก</button>
                                    <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal"><i class="fa  fa-ban"></i>  ปิด</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <div class="row mt-5">
                        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
                            <table id="table1" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7 ">
                                <thead class="table-primary">
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center" style="width:5%">ลำดับ</th>
                                        <th class="text-center">รายการ</th>
                                        <th class="text-center">จำนวนเงินเบิกจ่าย</th>
                                        <th class="text-center">วันที่</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center">ค่าเช่ารถยนต์ เดือนกันยายน 2566 บริษัท ทรู ลิสซิ่ง จำกัด</td>
                                        <td class="text-center">14970.40</td>
                                        <td class="text-center">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-10">
            <div class="col-12">
                <button class="btn btn-primary btn-sm"><i class="fa fa-save"></i> บันทึก</button>
                <a href="@Url.Action("BudgetOverlapYearList","Budget")" class="btn btn-secondary btn-sm"><i class="fa fa-repeat"></i> กลับหน้าหลัก</a>
                <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-print"></i> พิมพ์</button>
            </div>

        </div>
    </div>
</div>

