@section Title {
    <span class="fs-1 fw-semibold">รายละเอียดเบิกจ่ายงบจังหวัด/งบกลุ่มจังหวัด</span>

}
@section Breadcrumb {
    <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">หน้าแรก</a></li>
    <li class="breadcrumb-item pe-3 text-muted">รายละเอียดเบิกจ่ายงบจังหวัด/งบกลุ่มจังหวัด</li>
}

<div class="card">
    <div class="card-body">
        <div class="row mb-3">

            <div class="col-md-4 mb-3">
                <label class="col-form-label required">วันที่</label>
                <div class="position-relative">
                    <input type="text" class="form-control form-control-sm datepickerinput" placeholder="วว/ดด/ปปปป" name="Date1" id="Date1" />
                    <div class="position-absolute translate-middle-y top-50 end-0 me-3">
                        <i class="fas fa-calendar fs-1hx"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label">เลขที่คำขอ</label>
                <input class="form-control form-control-sm" readonly />
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label">สถานะ</label>
                <input class="form-control form-control-sm" readonly />
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label required">หน่วยงาน</label>
                <select class="form-select form-select-sm" >
                    <option value=""></option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label required">ปีงบประมาณ</label>
                <input class="form-control form-control-sm"  />
            </div>

         
            <div class="col-md-12 mb-3">
                <label class="col-form-label required">ชื่อโครงการ</label>
                <input class="form-control form-control-sm" />
            </div>

            <div class="col-md-12 mb-3">
                <label class="col-form-label required">รายละเอียด</label>
                <input class="form-control form-control-sm" />
            </div>

            <div class="col-md-12 mb-3">
                <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
                    <table id="table1" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7 ">
                        <thead class="table-primary">
                            <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                <th class="text-center" >ลำดับ</th>
                                <th class="text-center">กิจกรรม</th>
                                <th class="text-center"><span class="required">จำนวนเงินที่เบิกจ่าย</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">ส่งเสริมระบบผลิตไฟฟ้าด้วยพลังงานแสงอาทิตย์</td>
                                <td class="text-center ">
                                    <input class="form-control form-control-sm text-center"  value="" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <label class="col-form-label">แนบไฟล์</label>
            <input type="file" class="form-control form-control-sm" />
        </div>

        <div class="row mt-10">
            <div class="col-12">
                <button class="btn btn-primary btn-sm"><i class="fa fa-save"></i> บันทึก</button>
                <a href="@Url.Action("BudgetRequisitionProvinceList","Budget")" class="btn btn-secondary btn-sm"><i class="fa fa-repeat"></i> กลับหน้าหลัก</a>
                <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-print"></i> พิมพ์</button>
            </div>
        
        </div>
    </div>
</div>

