@section Title {
    <span class="fs-1 fw-semibold">รายละเอียดการอนุมัติงบประมาณ</span>

}
@section Breadcrumb {
    <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">หน้าแรก</a></li>
    <li class="breadcrumb-item pe-3 text-muted">รายละเอียดการอนุมัติงบประมาณ</li>
}

<div class="card">
    <div class="card-body">
        <div class="row mb-3">

            <div class="col-md-4 mb-3">
                <label class="col-form-label">ปีงบประมาณ</label>
                <input class="form-control form-control-sm" readonly />
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label">รวมเงินคำของบประมาณ</label>
                <input class="form-control form-control-sm" readonly value="" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label">รวมเงินงบประมาณที่ได้รับอนุมัติ</label>
                <input class="form-control form-control-sm" readonly value="" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="col-form-label">สถานะ</label>
                <input class="form-control form-control-sm" readonly value="" />
            </div>

        </div>

        <div class="col-md-12 mb-3 mt-10">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                        งบบุคลากร
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                        งบดำเนินงาน
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">
                        งบเงินอุดหนุน
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false">
                        งบลงทุน
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="5-tab" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab" aria-controls="tab5" aria-selected="false">
                        งบรายจ่ายอื่น
                    </button>
                </li>

            </ul>
            <div class="tab-content">

                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="row mt-5">
                        <div class="col-lg-12 text-end">
                            <button type="button" id="collapser1" class="btn btn-warning btn-sm"><i class="fa fa-minus-circle"></i> ย่อทั้งหมด</button>
                            <button type="button" id="expander1" class="btn btn-info btn-sm"><i class="fa fa-plus-circle"></i> แสดงทั้งหมด</button>
                        </div>
                        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm mt-5">
                            <table id="tbltab1" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                <thead class="table-primary align-middle">
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center" rowspan="2">รายการ</th>
                                        <th class="text-center" rowspan="2">คำของบประมาณ</th>
                                        <th class="text-center" colspan="2">งบประมาณที่ได้รับอนุมัติ</th>
                                    </tr>
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center">ส่วนกลาง <span class="text-danger">*</span></th>
                                        <th class="text-center">จังหวัด <span class="text-danger">*</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-node-id="1">
                                        <td>
                                            เงินเดือน
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                    </tr>
                                    <tr data-node-id="2">
                                        <td>
                                            ค่าจ้างประจำ
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                    </tr>
                                    <tr data-node-id="3">
                                        <td>
                                            พนักงานราชการ
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <script>
                            $('#tbltab1').simpleTreeTable({
                                expander: $('#expander1'),
                                collapser: $('#collapser1'),
                                storeKey: 'simple-tree-table-basic'
                            });
                        </script>

                    </div>

                </div>

                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <div class="row mt-5">
                        <div class="col-lg-12 text-end">
                            <button type="button" id="collapser2" class="btn btn-warning btn-sm"><i class="fa fa-minus-circle"></i> ย่อทั้งหมด</button>
                            <button type="button" id="expander2" class="btn btn-info btn-sm"><i class="fa fa-plus-circle"></i> แสดงทั้งหมด</button>
                        </div>
                        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm mt-5">
                            <table id="tbltab2" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                <thead class="table-primary align-middle">
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center" rowspan="2">รายการ</th>
                                        <th class="text-center" rowspan="2">คำของบประมาณ</th>
                                        <th class="text-center" colspan="2">งบประมาณที่ได้รับอนุมัติ</th>
                                    </tr>
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center">ส่วนกลาง <span class="text-danger">*</span></th>
                                        <th class="text-center">จังหวัด <span class="text-danger">*</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-node-id="1">
                                        <td>
                                            ค่าตอบแทน
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly/>
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                    </tr>
                                    <tr data-node-id="1.1" data-node-pid="1">
                                        <td>
                                            ค่าอาหารทำการนอกเวลา
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm"  />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm"  />
                                        </td>
                                    </tr>
                                    <tr data-node-id="1.2" data-node-pid="1">
                                        <td>
                                            ค่าเช่าบ้าน
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm"  />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm"  />
                                        </td>
                                    </tr>
                                    <tr data-node-id="2">
                                        <td>
                                            ค่าใช้สอย
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                    </tr>
                                    <tr data-node-id="2.1" data-node-pid="2">
                                        <td>
                                            ค่าเบี้ยเลี้ยง ค่าเช่าที่พักและค่าพาหนะ
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm"  />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm"  />
                                        </td>
                                    </tr>
                                    <tr data-node-id="2.2" data-node-pid="2">
                                        <td>
                                            ค่าซ่อมแซมยานพาหนะและขนส่ง
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm"  />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <script>
                            $('#tbltab2').simpleTreeTable({
                                expander: $('#expander2'),
                                collapser: $('#collapser2'),
                                storeKey: 'simple-tree-table-basic'
                            });
                        </script>

                    </div>
                </div>

                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                    <div class="row mt-5">
                        <div class="col-lg-12 text-end">
                            <button type="button" id="collapser3" class="btn btn-warning btn-sm"><i class="fa fa-minus-circle"></i> ย่อทั้งหมด</button>
                            <button type="button" id="expander3" class="btn btn-info btn-sm"><i class="fa fa-plus-circle"></i> แสดงทั้งหมด</button>
                        </div>
                        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm mt-5">
                            <table id="tbltab3" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                <thead class="table-primary align-middle">
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center">รายการ</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">คำของบประมาณ</th>
                                        <th class="text-center">งบประมาณที่ได้รับอนุมัติ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-node-id="1">
                                        <td>
                                            โครงการเพิ่มสมรรถนะด้านการบริหาร
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                    </tr>
                                 
                                    <tr data-node-id="1.1" data-node-pid="1">
                                        <td>
                                        </td>
                                        <td colspan="3">
                                            <table class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                                <thead class="table-primary">
                                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                                        <th class="text-center" width="70"></th>
                                                        <th class="text-center" width="70">ลำดับ</th>
                                                        <th class="text-center">โครงการ</th>
                                                        <th class="text-center">คำของบประมาณ</th>
                                                        <th class="text-center">งบประมาณที่ได้รับอนุมัติ <span class="text-danger">*</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-icon btn-sm btn-light-info text-gray-800 text-hover-white fw-bold mb-0"
                                                                    data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="รายละเอียด">
                                                                <i class="fa fa-search fs-4"></i>
                                                            </button>
                                                        </td>
                                                        <td class="text-center">1</td>
                                                        <td class="text-center">
                                                            โครงการเพิ่มสมรรถนะด้านการบริหารและจัดการพลังงานชุมชน
                                                        </td>
                                                        <td class="text-center">20,000,000</td>
                                                        <td class="text-center">
                                                            <input class="form-control form-control-sm"/>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <script>
                            $('#tbltab3').simpleTreeTable({
                                expander: $('#expander3'),
                                collapser: $('#collapser3'),
                                storeKey: 'simple-tree-table-basic'
                            });
                        </script>

                    </div>
                </div>

                <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                    <div class="row mt-5">
                        <div class="col-lg-12 text-end">
                            <button type="button" id="collapser4" class="btn btn-warning btn-sm"><i class="fa fa-minus-circle"></i> ย่อทั้งหมด</button>
                            <button type="button" id="expander4" class="btn btn-info btn-sm"><i class="fa fa-plus-circle"></i> แสดงทั้งหมด</button>
                        </div>
                        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm mt-5">
                            <table id="tbltab4" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                <thead class="table-primary align-middle">
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center">รายการ</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">คำของบประมาณ</th>
                                        <th class="text-center">งบประมาณที่ได้รับอนุมัติ <span class="text-danger">*</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-node-id="1">
                                        <td>
                                            ค่าครุภัณฑ์
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                    </tr>
                                    <tr data-node-id="1.1" data-node-pid="1">
                                        <td>
                                            ค่าครุภัณฑ์สำนักงาน
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                    </tr>
                                   
                                    <tr data-node-id="1.1" data-node-pid="1">
                                        <td>
                                        </td>
                                        <td colspan="3">
                                            <table class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                                <thead class="table-primary">
                                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                                        <th class="text-center" width="70"></th>
                                                        <th class="text-center" width="70">ลำดับ</th>
                                                        <th class="text-center">รายการ</th>
                                                        <th class="text-center">งบประมาณ</th>
                                                        <th class="text-center">รูปภาพครุภัณฑ์ทดแทน</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-icon btn-sm btn-light-info text-gray-800 text-hover-white fw-bold mb-0"
                                                                    data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="รายละเอียด">
                                                                <i class="fa fa-search fs-4"></i>
                                                            </button>
                                                        </td>
                                                        <td class="text-center">1</td>
                                                        <td class="text-center">
                                                            รายการที่ครุภัณฑ์สำนักงาน 1
                                                        </td>
                                                        <td class="text-center">200,000</td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr data-node-id="1.2" data-node-pid="1">
                                        <td>
                                            ค่าครุภัณฑ์คอมพิวเตอร์
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" />
                                        </td>
                                    </tr>
                                    <tr data-node-id="1.2" data-node-pid="1">
                                        <td>
                                        </td>
                                        <td colspan="3">
                                            <table class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                                <thead class="table-primary">
                                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                                        <th class="text-center" width="70"></th>
                                                        <th class="text-center" width="70">ลำดับ</th>
                                                        <th class="text-center">รายการ</th>
                                                        <th class="text-center">งบประมาณ</th>
                                                        <th class="text-center">รูปภาพครุภัณฑ์ทดแทน</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-icon btn-sm btn-light-info text-gray-800 text-hover-white fw-bold mb-0"
                                                                    data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="รายละเอียด">
                                                                <i class="fa fa-search fs-4"></i>
                                                            </button>
                                                        </td>
                                                        <td class="text-center">1</td>
                                                        <td class="text-center">
                                                            รายการที่ครุภัณฑ์คอมพิวเตอร์ 1
                                                        </td>
                                                        <td class="text-center">500,000</td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <script>
                            $('#tbltab4').simpleTreeTable({
                                expander: $('#expander4'),
                                collapser: $('#collapser4'),
                                storeKey: 'simple-tree-table-basic'
                            });
                        </script>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                    <div class="row mt-5">
                        <div class="col-lg-12 text-end">
                            <button type="button" id="collapser5" class="btn btn-warning btn-sm"><i class="fa fa-minus-circle"></i> ย่อทั้งหมด</button>
                            <button type="button" id="expander5" class="btn btn-info btn-sm"><i class="fa fa-plus-circle"></i> แสดงทั้งหมด</button>
                        </div>
                        <div class="table-responsive-xxl table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm mt-5">
                            <table id="tbltab5" class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                <thead class="table-primary align-middle">
                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                        <th class="text-center">รายการ</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">คำของบประมาณ</th>
                                        <th class="text-center">งบประมาณที่ได้รับอนุมัติ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-node-id="1">
                                        <td>
                                            โครงการเจรจาและประชุมนานาชาติ
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                        <td class="text-center">
                                            <input class="form-control form-control-sm" readonly />
                                        </td>
                                    </tr>

                                    <tr data-node-id="1.1" data-node-pid="1">
                                        <td>
                                        </td>
                                        <td colspan="3">
                                            <table class="table table-row-dashed table-hover table-row-gray-300 align-middle gy-5 gs-7">
                                                <thead class="table-primary">
                                                    <tr class="fw-semibold fs-6 text-gray-80 fw-bold">
                                                        <th class="text-center" width="70"></th>
                                                        <th class="text-center" width="70">ลำดับ</th>
                                                        <th class="text-center">โครงการ</th>
                                                        <th class="text-center">คำของบประมาณ</th>
                                                        <th class="text-center">งบประมาณที่ได้รับอนุมัติ <span class="text-danger">*</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <button type="button" class="btn btn-icon btn-sm btn-light-info text-gray-800 text-hover-white fw-bold mb-0"
                                                                    data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" title="รายละเอียด">
                                                                <i class="fa fa-search fs-4"></i>
                                                            </button>
                                                        </td>
                                                        <td class="text-center">1</td>
                                                        <td class="text-center">
                                                            โครงการเจรจาและประชุมนานาชาติ
                                                        </td>
                                                        <td class="text-center">20,000,000</td>
                                                        <td class="text-center">
                                                            <input class="form-control form-control-sm" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <script>
                            $('#tbltab5').simpleTreeTable({
                                expander: $('#expander5'),
                                collapser: $('#collapser5'),
                                storeKey: 'simple-tree-table-basic'
                            });
                        </script>
                    </div>
                </div>


            </div>
        </div>

        <div class="mt-10">
            <button class="btn btn-primary btn-sm"><i class="fa fa-save"></i> บันทึก</button>
            <button class="btn btn-success btn-sm" onclick="onSubmit()"><i class="fa fa-check"></i> ยืนยัน</button>
            <a href="@Url.Action("BudgetConsiderList","Budget")" class="btn btn-secondary btn-sm"><i class="fa fa-refresh"></i> กลับหน้าหลัก</a>
            <button class="btn btn-info btn-sm"><i class="fa fa-print"></i> พิมพ์</button>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function onSubmit() {
            Swal.fire({
                text: "ต้องการยืนยันการอนุมัติหรือไม่",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "ตกลง",
                confirmButtonColor: '#3085d6',
                cancelButtonText: "ยกเลิก",
            }).then((result) => {
                if (result.isConfirmed) {

                    Swal.fire({
                        text: "อนุมัติสำเร็จ",
                        icon: "success",
                        showCancelButton: true,
                        confirmButtonText: '<i class="fa fa-arrow-right" style="color: white;"></i> จัดสรรงบประมาณ',  // Icon for the confirm button
                        cancelButtonText: '<i class="fa fa-undo" style="color: white;"></i> กลับหน้าหลัก',  // Icon for the cancel button
                        buttonsStyling: true,
                        confirmButtonColor: '#3085d6',
                        buttonsStyling: true,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '@Url.Action("BudgetAllocateDetail", "Budget")';
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                            window.location.href = '@Url.Action("BudgetConsiderList", "Budget")';
                        }
                    });

                }
            });
        }

       
    </script>
}
