@section Title {
    <span class="fs-1 fw-semibold">ตัดจำหน่ายทรัพย์สิน</span>

}
@section Breadcrumb {
    <li class="breadcrumb-item pe-3"><a href="#" class="pe-3">หน้าแรก</a></li>
    <li class="breadcrumb-item pe-3 text-muted">ตัดจำหน่ายทรัพย์สิน</li>
}

<div class="card">

    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
                <h2>ค้นหา&nbsp;&nbsp;</h2>
                <input id="btnFilter" onclick="showHideFilter()" type="button" style="border:unset; font-size:x-small;" value="แสดง"></input><button style="border:unset; font-size:x-small;" onclick=" showHideFilter()"> <i class="fas fa-angle-down"></i></button>
            </div>
        </div>
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <a id="btnAdd" class="btn btn-success btn-sm" href="@Url.Action("AssetWriteOffDetail","Asset")">
                <i class="fa fa-plus"></i> สร้างใหม่
            </a>
        </div>
    </div>

    <div class="card-body" id="divFilter" style="display: none;">
        @using (Html.AjaxBeginForm("AssetWriteOffList", "Asset", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tbl" }, new { enctype = "multipart/form-data", id = "searchForm" }))
        {
            <div class="row mb-3">
                <div class="row col-md-6 mb-3">
                    <div class="col-4 text-end">
                        <label class="col-form-label">ปีงบประมาณ</label>
                    </div>
                    <div class="col-8 text-end">
                        <input class="form-control form-control-sm" name="BudgetYear" />
                    </div>
                </div>

                <div class="row col-md-6 mb-3">
                    <div class="col-4 text-end">
                        <label class="col-form-label">เลขที่ตัดจำหน่าย</label>
                    </div>
                    <div class="col-8 text-end">
                        <input class="form-control form-control-sm" name="Code" />
                    </div>
                </div>

                <div class="row col-md-6  mb-3">
                    <div class="col-4 text-end">
                        <label class="col-form-label">วันที่ตัดจำหน่าย</label>
                    </div>
                    <div class="col-8">
                        <div class="position-relative">
                            <input type="text" class="form-control form-control-sm" placeholder="วว/ดด/ปปปป" name="WriteOffDateFrom" id="WriteOffDateFrom" />
                            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
                                <i class="fas fa-calendar fs-1hx"><span class="path1"></span><span class="path2"></span></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-6  mb-3">
                    <div class="col-4 text-end">
                        <label class="col-form-label">ถึง</label>
                    </div>
                    <div class="col-8">
                        <div class="position-relative">
                            <input type="text" class="form-control form-control-sm" placeholder="วว/ดด/ปปปป" name="WriteOffDateTo" id="WriteOffDateTo" />
                            <div class="position-absolute translate-middle-y top-50 end-0 me-3">
                                <i class="fas fa-calendar fs-1hx"><span class="path1"></span><span class="path2"></span></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-6  mb-3">
                    <div class="col-4 text-end">
                        <label class="col-form-label">ประเภท</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select form-select-sm" name="WriteOffType">
                            <option value="">ทั้งหมด</option>
                            <option value="S">ขาย</option>
                            <option value="D">บริจาค</option>
                            <option value="T">โอนให้หน่วยงานนอกสป.</option>
                            <option value="E">แลกเปลี่ยน</option>
                            <option value="L">สูญหาย</option>
                        </select>
                    </div>
                </div>

                <div class="row col-md-6  mb-3">
                    <div class="col-4 text-end">
                        <label class="col-form-label">สถานะ</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select form-select-sm" name="StatusId" >
                            <option value="">ทั้งหมด</option>
                            <option value="D">ร่าง</option>
                            <option value="C">ยืนยันการตัดจำหน่าย</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="card-footer text-center">
                <button type="submit" id="btnSearch" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> ค้นหา</button>
                <button id="btnResetSearch" type="reset" class="btn btn-secondary btn-sm"><i class="fa fa-refresh"></i> ล้างเงื่อนไข</button>
            </div>
        }
    </div>
</div>

<div id="tbl"></div>


@section Scripts {
    <script>
        SetInputDate('WriteOffDateFrom');
        SetInputDate('WriteOffDateTo');

        $("#btnSearch").click();
        $('#btnResetSearch').click(function () {
            setTimeout(
                function () {
                    $('#searchForm').submit();
                }, 500);
        });

        function showHideFilter() {
            var x = document.getElementById("divFilter");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }

            var elem = document.getElementById("btnFilter");
            if (elem.value == "ซ่อน") elem.value = "แสดง";
            else elem.value = "ซ่อน";
        }
    </script>

    @if (ViewBag.success != null)
    {
        <script>
            Swal.fire('@ViewBag.success', '', 'success');
        </script>
    }
    @if (ViewBag.error != null)
    {
        <script>
            Swal.fire('@ViewBag.error', '', 'error');
        </script>
    }
}

